/* 1秒かけて透明度を遷移 */
.v-enter-active,
.v-leave-active {
  transition: opacity 1s, transform 0.5s;
}
/* 見えなくなるときの透明度 */
.v-enter {
  opacity: 0;
  transform: translateX(-10px);
}

.v-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
