/* .v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}
.v-enter,
.v-leave-to {
  opacity: 0;
} */

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}
.v-leave-active {
  position: absolute;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}

.count-enter-active,
.count-leave-active {
  transition: opacity 1s, transform 1s;
}

.count-leave-active {
  position: absolute;
}
.count-enter {
  opacity: 0;
  transform: translateX(-10px);
}
.count-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
