<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <!-- ここに記述していく -->
      <p>{{ message }}</p>

      <ol>
        <li v-for="item in list">{{ item }}</li>
      </ol>

      <button v-on:click="handleClick">Click</button>

      <p>{{ message2 }}</p>
      <input v-model="message2" />

      <!-- 入力値を整数として受け取る -->
      <p>{{ count }}</p>
      <input v-model.number="count" />

      <p v-if="show">Hello Vue.js!</p>

      <transition>
        <p v-if="show">Hello Vue.js!</p>
      </transition>
      <button v-on:click="show=!show">切り替え</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
