<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <!-- この#appの内側にテンプレートを書き込んでいく -->
      <comp-child val="これはA子"></comp-child>
      <comp-child val="これはB子"></comp-child>
      <comp-child v-bind:val="message" class="item"></comp-child>

      <ul>
        <comp-child2
          v-for="item in list"
          v-bind:key="item.id"
          v-bind:name="item.name"
          v-bind:hp="item.hp"
        ></comp-child2>
      </ul>

      <!-- 3 2番目の操作からchilds-eventが発火される→parentsメソッド実行 -->
      <comp-child3 v-on:childs-event="parentsMethod"></comp-child3>

      <ul>
        <comp-child4
          v-for="item in list"
          v-bind:key="item.id"
          v-bind="item"
          v-on:attack="handleAttack"
        ></comp-child4>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
