<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <p>{{ state.count }}</p>
      <button v-on:click="handleClick">Count</button>

      <p>{{ message.value }}</p>
      <p>{{ message.value.length }}</p>
      <p>{{ message.value.length >= 10 ? "10文字以上" : "10文字未満" }}</p>
      <p>{{ list[2] }}</p>
      <p>{{ list[num] }}</p>

      <input type="text" v-bind:value="message.value" />
      <input type="text" :value="message.value" />

      <!-- debug -->
      <pre>{{ $data }}</pre>

      <p>{{ count2 }}回クリックしたよ</p>
      <button v-on:click="increment">カウント</button>

      <!-- クラス名でハイフンを含む場合は'で囲む -->
      <p v-bind:class="{ child: isChild, 'is-active': isActive }">Text</p>
      <p v-bind:style="{ color: textColor, backgroundColor:bgColor }">Text</p>

      <p v-bind:class="classObject">Text</p>
      <p v-bind:style="styleObject">Text</p>

      <!-- <img v-bind="item" v-bind:id="'thumb-' + item.id"> -->

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
      </svg>
      <input type="range" min="0" max="100" v-model="radius" />

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <circle
          v-bind:cx="position"
          cy="75"
          v-bind:r="radius"
          fill="lightpink"
        />
      </svg>
      <input type="range" min="50" max="150" v-model="position" />

      <ul>
        <li
          v-for="item in list2"
          v-bind:key="item.id"
          v-bind:class="{ tuyoi: item.hp > 300}"
        >
          ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
          <span v-if="item.hp > 300">つよい！</span>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
